<form action="/dashboard/addplaylist" method="POST">
    <div className="field">
        <label className="label">Playlist Title</label> <input className="input" type="text"
                                                               placeholder="Enter playlist title" name="title">
    </div>
    <button className="button is-link">Add Playlist</button>
</form>